 .body{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;

 }

 #local{
    width: 100%;
    background-color: limegreen;
    padding: 15px 0;
    margin: 0;

    font-size: 1.5rem;
    font-style:italic;
    color:brown;
    text-align: center;


}

#cities{
    border-collapse: collapse;
    width: 100%;
    font-style: oblique;
    color: brown;

}

#cities td{
    border: 1px solid greenyellow ;
    padding: 8px;
}
#cities tr:nth-child(even){
    background-color:lightgreen;
}
.col1{
    width:10%;
}
.col2{
    width:45%;
    
}